<div id=<%="message_#{dom_id message}"%> class="w-full flex">
    <div id=<%="message_#{dom_id message}_container"%> class="space-x-3 mb-2 flex ">
        <div id=<%="message_#{dom_id message}_usertag"%> class="basis-2/12">
            <div class="bg-indigo-400 px-3 rounded-full text-white">
                <%= message.user.email %>
            </div>
            <font size="0.2">  <%= message.created_at.to_formatted_s(:short) %> </font>  
        </div>

        <div class="basis-10/12">
            <%= message.content%>

            <% if message.image.attached? %>
                <%= image_tag(message.image, style:'width: 100px')%>
            <% end%>
 
        </div>
    </div>

    <script> 
        if(document.getElementById("session_set").innerHTML == <%= message.user.id %>) {
            let msgPartial = <%="message_#{dom_id message}"%>;
            msgPartial.classList.add("justify-end");

            let msgPartialContainer = <%="message_#{dom_id message}_container"%>;
            msgPartialContainer.classList.add("flex-row-reverse");

            let msgPartialUsertag = <%="message_#{dom_id message}_usertag"%>;
            msgPartialUsertag.classList.add("ml-10");

        }
    </script>

</div>