<div class="mx-auto md:w-2/3 w-full">



  <h1 class="font-bold text-4xl text-indigo-600">New Message</h1>

  <%= turbo_frame_tag "message" do %>
    <%= form_with(model: [@message.room, @message] , data: {controller: "newmsq", action: "turbo:submit-end->newmsq#reset"}) do |form| %>


    <div class="flex flex-row space-x-3">
      <%= form.text_field :content, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
      <%= form.submit class: "rounded-lg py-3 px-5 bg-indigo-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

    <div class="field text-sm mt-2">
      <%= form.file_field :image %>
    </div>
    <% end %>
  <% end %>

  <%= link_to "...back", @message.room, class: "mt-5 ml-2 border border-indigo-600 rounded-lg py-3 px-5 bg-gray-100 inline-block text-small text-indigo-600" %>
</div>