<div id="<%= dom_id room %>">

  <div class="flex justify-between mb-3">
    <div class="flex flex-row space-x-3">
        <strong class="block font-medium mb-1"><%= room.name %></strong>    
        <% if action_name != "show" %>
          <%= link_to "Enter", room, class: "rounded-md py-1 px-3 bg-transparent hover:bg-indigo-500 text-indigo-500 hover:text-white text-sm border border-indigo-500" %>
        <% end %>
    </div>

    <div class="flex space-x-3">
      <% if action_name != "show" %>
        <%= link_to "Edit #{room.name}", edit_room_path(room),class: "rounded-md py-1 px-3 bg-transparent hover:bg-indigo-500 text-indigo-500 hover:text-white text-sm border border-indigo-500"  %>
        <%= button_to "Delete", room_path(room), method: :delete, class: "rounded-md py-1 px-3 bg-transparent hover:bg-indigo-500 text-indigo-500 hover:text-white text-sm border border-indigo-500"  %>
      <% end %>
    </div>
</div>

</div>
